.box1{
    font-size: 35px;
    padding: 15px;
}
.container{
    display: inline-flex;
    border:3px solid black;
    flex-direction: row;
}
.box1{font-size: 35px;
    padding: 15px;
    background:green;
}
.box2{font-size: 35px;
    padding: 15px;
    background: blue;
}
.box3{font-size: 35px;
    padding: 15px;
    background: red;
}
.container2{
    display: inline-flex;
    border:3px solid black;
    flex-direction: column;
}